body {
	background-color: #d7dae5;
}

h1 {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
	background-color: #a6d8d4;
}

#currentTime {
	background-color: #8eaf9d;
	color: white;
	text-align: center;
}
